/*
    Scrum Board - Inlämningsuppgift 2 - Javascript 2 - FE23
    By Kristoffer Bengtsson

    style.css
    Main stylesheet for the page.
*/

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
    background-color: black;
}


.color-frontend,
option[value="frontend"] {
    background-color: rgb(100, 119, 100);
    color: white;
}

.color-backend,
option[value="backend"] {
    background-color: rgb(124, 120, 133);
    color: white;
}

.color-ux,
option[value="ux"] {
    background-color: rgb(131, 112, 112);
    color: white;
}

#type-legend {
    display: flex;
    gap: 3rem;
    margin: 0 2rem;
}

#type-legend > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0.7em;
}